<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
</head>
{{>navbar}}
<!--main header-->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right">
                    <!--right side div-->
                    <figure>
                        <img src="https://images.unsplash.com/photo-1490730141103-6cac27aaab94?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fHNoYWRvd3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=700&q=60" titile="nature" style="height: 50vh; width: 80vh;">
                    </figure>
                 </div>
                    <!--left side div-->
                <div class="col-md-6 col-12 main_header_left" style="padding-left: 20vh;"> 
                    <p>EXPLORE MY WEATHER APP</p>
                    <h1>DEVELOPING <span class="text_clr"> WEATHER </span> APP </h1>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!--footer code-->
   {{>footer}}
</body>
</html>